@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #252529;
  --card: #ffffff;
  --card-foreground: #252529;
  --popover: #ffffff;
  --popover-foreground: #252529;
  --primary: #030213;
  --primary-foreground: #ffffff;
  --secondary: #f3f3f5;
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --ring: #b3b3b3;
  --radius: 0.625rem;
}

.dark {
  --background: #252529;
  --foreground: #fbfbfc;
  --card: #252529;
  --card-foreground: #fbfbfc;
  --popover: #252529;
  --popover-foreground: #fbfbfc;
  --primary: #fbfbfc;
  --primary-foreground: #343439;
  --secondary: #45454d;
  --secondary-foreground: #fbfbfc;
  --muted: #45454d;
  --muted-foreground: #b5b5b8;
  --accent: #45454d;
  --accent-foreground: #fbfbfc;
  --destructive: #641f2d;
  --destructive-foreground: #a3505f;
  --border: #45454d;
  --input: #45454d;
  --ring: #707077;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-medium;
  }
}

html {
  font-size: var(--font-size);
}
